<h2>
	<%= link_to post.title, post_path(post)%>
</h2>

<p class="lead">
    by <%= link_to post.author.nickname, author_path(post.author)%>
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.date %></p>

<hr>

<p>
	<%= post.body %>
</p>