<div >
	<div class="col-md-8">
	    <h1 class="page-header">
	        Posts
	        <small>all from genius</small>
	    </h1>

		
		<%= render @posts %> 
		<%= paginate @posts %> 
	</div>
	
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Post Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Top Posts</h4>
                <div class="row">
                    <div class="col-lg-14">
                        <ul class="list-unstyled">
							<% @tops.each do |t| %>
	                            <li>
									<%= link_to t.title, post_path(t) %>
									by <%= "#{t.author.name} (#{t.author.nickname})" %>
								</li>
							<%end%>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>